{% extends 'base.html.twig' %}

{% block body %}

    <!-- page content -->
    <div role="main">
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Stories</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <!-- start project list -->
                        <table class="table table-striped projects">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Story</th>
                                <th>Protagonist</th>
                                <th>From country</th>
                                <th>In country</th>
                                <th>Death Story</th>
                                <th>Goal</th>
                                <th>Achieved</th>
                                <th>Created At</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for refugeeStory in refugeeStories %}
                                <tr>
                                    <td>{{ refugeeStory.id }}</td>
                                    <td>{{ refugeeStory.story | truncate(50) | raw }}</td>
                                    <td>{{ refugeeStory.protagonist }}</td>
                                    <td>{{ refugeeStory.comingFromCountry }}</td>
                                    <td>{{ refugeeStory.refugeeInCountry }}</td>
                                    <td>
                                        {% if refugeeStory.isDeathStory %}
                                            <button type="button" class="btn btn-danger btn-xs">Yes</button>
                                        {% else %}
                                            <button type="button" class="btn btn-success btn-xs">No</button>
                                        {% endif %}
                                    </td>
                                    <td>{{ refugeeStory.goal | truncate(50) | raw }}</td>
                                    <td>
                                        {% set class = "" %}
                                        {% if refugeeStory.achievedGoalPercentage < 40 %}
                                            {% set class = "btn-danger" %}
                                        {% elseif refugeeStory.achievedGoalPercentage < 80 %}
                                            {% set class = "btn-info" %}
                                        {% else %}
                                            {% set class = "btn-success" %}
                                        {% endif %}
                                        <button type="button" class="btn {{ class }} btn-xs">{{ refugeeStory.achievedGoalPercentage }}%</button>
                                    <td>{% if refugeeStory.createdAt %}{{ refugeeStory.createdAt|date('Y-m-d H:i') }}{% endif %}</td>
                                    <td>
                                        <a href="{{ path("refugeestory_edit", {"id" : refugeeStory.id}) }}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                        <a href="{{ path("refugeestory_delete", {"id" : refugeeStory.id}) }}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <!-- end project list -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->

{% endblock %}
