{% extends 'base.html.twig' %}

{% block body %}

    <!-- page content -->
    <div role="main">
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Users</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <!-- start project list -->
                        <table class="table table-striped projects">
                            <thead>
                            <tr>
                                <th style="width: 1%">#</th>
                                <th style="width: 20%">UserName</th>
                                <th>Email</th>
                                <th>Organization</th>
                                <th>Status</th>
                                <th style="width: 20%">#Edit</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>
                                    <a>{{ user.username }}</a>
                                    <br />
                                    <small>Last Login {{ user.lastLogin|date('Y-m-d') }}</small>
                                </td>
                                <td>
                                    <a>{{ user.email }}</a>
                                </td>
                                <td>
                                    {% if user.organization %}
                                        <a href="{#{ path("organization_edit", {"id" : user.organization.id }) }#}">{{ user.organization.name }}</a>
                                    {% else %}
                                        <a>No Organization</a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if user.enabled %}
                                        <button type="button" class="btn btn-success btn-xs">Enabled</button>
                                    {% else %}
                                        <button type="button" class="btn btn-danger btn-xs">Disabled</button>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ path("user_edit", {"id" : user.id}) }}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                    <a href="{{ path("user_delete", {"id" : user.id}) }}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <!-- end project list -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->

{% endblock %}
