{% extends 'base.html.twig' %}

{% block body %}

    <!-- page content -->
    <div role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>New Organization</h3>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            {{ form_start(edit_form, {'attr' : {'class': 'form-horizontal form-label-left', 'novalidate': ''}}) }}
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_errors(edit_form.name) }}
                                    {{ form_widget(edit_form.name, {'attr': {'class': 'form-control col-md-7 col-xs-12', 'pattern':''}}) }}
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_errors(edit_form.email) }}
                                    {{ form_widget(edit_form.email, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
                                </div>
                            </div>
                            <div class="item form-group">
                                <label for="password" class="control-label col-md-3">Address</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_errors(edit_form.address) }}
                                    {{ form_widget(edit_form.address, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
                                </div>
                            </div>
                            <div class="item form-group">
                                <label for="password" class="control-label col-md-3">Zip Code</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_errors(edit_form.zipCode) }}
                                    {{ form_widget(edit_form.zipCode, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telephone">Telephone Number <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_errors(edit_form.phoneNumber) }}
                                    {{ form_widget(edit_form.phoneNumber, {'attr': {'class': 'form-control col-md-7 col-xs-12', 'data-validate-length-range':'8,20'}}) }}
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="organitation">Country</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_errors(edit_form.country) }}
                                    {{ form_widget(edit_form.country, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <button id="send" type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                            {{ form_end(edit_form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
{% endblock %}
